@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Yaldevi:wght@200&display=swap");

/*Variables*/
:root {
   --font-primary: "Roboto";
   --font-fallback: sans-serif;

   --text-xl: 2rem;
   --text-lg: 1.8rem;
   --text-md: 1.5rem;

   --text-color: #8c2b15;

   --global-light: #cbcdd2;
   --global-dark: #1c1d21;
   --global-light-grey: #848794;
   --global-grey: #5d5d5d;
   --global-dark-grey: #45474f;

   --background: black;

   --primary-color: #c4aa81;
   --secondary-color: #8c2b15;
   --success-color: #78bd65;
   --danger-color: #eb3d54;
   --warning-color: #e5cd52;

   --hover-color: var(--global-grey);

   --box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.45);
   --inset-box-shadow: inset var(--box-shadow);

   --spacing: 1rem;
   --spacing-half: 0.5rem;
   --spacing-double: 2rem;

   --box-rounding: 0px;
   --border-size: 25px;
   --border-style: solid;
}

/*Utilities*/
.root {
   min-width: 100%;
   min-height: 100vh;
}

.container {
   padding: var(--spacing);
}

/*Div styles*/
.hidden {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.zeroed {
   padding: 0 !important;
   margin: 0 !important;
}

.centered {
   justify-items: center;
   justify-self: center;
   align-items: center;
   align-self: center;
   margin: auto;
}

.wide {
   min-width: 100%;
}

.fit-content {
   width: fit-content;
}

.shadow-in {
   box-shadow: var(--inset-box-shadow);
}

.shadow-out {
   box-shadow: var(--box-shadow);
}

.align-start {
   align-self: start;
}

.align-center {
   align-self: center;
}

.align-end {
   align-self: end;
}

.vertical-align-top {
   vertical-align: top;
}

.vertical-align-center {
   vertical-align: middle;
}

.vertical-align-bottom {
   vertical-align: bottom;
}

.justify-start {
   justify-self: start;
}

.justify-center {
   justify-self: center;
}

.justify-end {
   justify-self: end;
}

/*Text Styles*/
.text-no-wrap {
   white-space: nowrap;
}

.text-center {
   text-align: center;
}

.text-justify {
   text-align: justify;
}

.text-left {
   text-align: left;
}

.text-right {
   text-align: right;
}

.text-xl {
   font-size: var(--text-xl);
}

.text-lg {
   font-size: var(--text-lg);
}

.text-md {
   font-size: var(--text-md);
}

/*Buttons*/
.btn {
   cursor: pointer;

   background: var(--global-dark);
   border: var(--primary-color) var(--border-size) solid;
   border-radius: var(--box-rounding);
   padding: var(--spacing-half) var(--spacing);
   margin: var(--spacing-half) var(--spacing-half);
}

.btn:hover {
   background: var(--global-dark);
   box-shadow: var(--box-shadow);
   border: var(--hover-color) var(--border-size) solid;
   opacity: 0.9;
}

.btn:active {
   box-shadow: var(--inset-box-shadow);
   color: var(--secondary-color);
}

/*Padding*/
.pad-left {
   padding-left: var(--spacing);
}

.pad-right {
   padding-right: var(--spacing);
}

.pad-top {
   padding-top: var(--spacing);
}

.pad-bottom {
   padding-bottom: var(--spacing);
}

.pad-horizontal {
   padding-left: var(--spacing);
   padding-right: var(--spacing);
}

.pad-vertical {
   padding-top: var(--spacing);
   padding-bottom: var(--spacing);
}

/*Borders*/
.border-light {
   border: var(--global-light) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-light-grey {
   border: var(--global-light-grey) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-light-gray {
   border: var(--global-light-grey) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-grey {
   border: var(--global-grey) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-gray {
   border: var(--global-grey) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-dark-grey {
   border: var(--global-dark-grey) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-dark-gray {
   border: var(--global-dark-grey) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-dark {
   border: var(--global-dark) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-primary {
   border: var(--primary-color) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-secondary {
   border: var(--secondary-color) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-success {
   border: var(--success-color) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-danger {
   border: var(--danger-color) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

.border-warning {
   border: var(--warning-color) var(--border-size) var(--border-style);
   border-radius: var(--box-rounding);
}

/*Colors*/
.light {
   color: var(--global-light);
}

.light-grey {
   color: var(--global-light-grey);
}

.light-gray {
   color: var(--global-light-grey);
}

.grey {
   color: var(--global-grey);
}

.gray {
   color: var(--global-grey);
}

.dark-grey {
   color: var(--global-dark-grey);
}

.dark-gray {
   color: var(--global-dark-grey);
}

.dark {
   color: var(--global-dark);
}

.primary {
   color: var(--primary-color);
}

.secondary {
   color: var(--secondary-color);
}

.success {
   color: var(--success-color);
}

.danger {
   color: var(--danger-color);
}

.warning {
   color: var(--warning-color);
}

/*Background Colors*/
.bg-light {
   background: var(--global-light);
}

.bg-light-grey {
   background: var(--global-light-grey);
}

.bg-light-gray {
   background: var(--global-light-grey);
}

.bg-grey {
   background: var(--global-grey);
}

.bg-gray {
   background: var(--global-grey);
}

.bg-dark-grey {
   background: var(--global-dark-grey);
}

.bg-dark-gray {
   background: var(--global-dark-grey);
}

.bg-dark {
   background: var(--global-dark);
}

.bg-primary {
   background: var(--primary-color);
}

.bg-secondary {
   background: var(--secondary-color);
}

.bg-success {
   background: var(--success-color);
}

.bg-danger {
   background: var(--danger-color);
}

.bg-warning {
   background: var(--warning-color);
}

/*Grid*/
.grid {
   display: grid;
   column-gap: var(--spacing);
   padding: var(--spacing);
   min-width: 100%;
}

/*Flex*/
.flex {
   display: flex;
}

.flex-column-reverse {
   flex-direction: column-reverse;
}

.flex-row-reverse {
   flex-direction: row-reverse;
}

.flex-row {
   flex-direction: row;
}

.flex-column {
   flex-direction: column;
}

.flex-same-size {
   flex: 1 1 0;
}

.flex-stretch {
   align-self: stretch;
}

.flex-justify {
   justify-content: space-evenly;
}

.flex-space-between {
   justify-content: space-between;
}

.flex-one-third {
   flex-basis: 33.33%;
}

.flex-two-third {
   flex-basis: 66.67%;
}

.flex-one-half {
   flex: 1;
   overflow: auto;
}

.grow-one-column {
   align-self: stretch;
   flex-basis: content;
   flex-grow: 1;
}

.grow-two-column {
   align-self: stretch;
   flex-basis: content;
   flex-grow: 2;
}

.grow-three-column {
   align-self: stretch;
   flex-basis: content;
   flex-grow: 3;
}

.grow-one-row {
   flex-basis: content;
   flex-grow: 1;
}

.grow-two-row {
   flex-basis: content;
   flex-grow: 2;
}

.grow-three-row {
   flex-basis: content;
   flex-grow: 3;
}

/*Global*/
* {
   box-sizing: border-box;
   min-width: auto;
   margin: 0;
   padding: 0;
}

body {
   font-family: var(--font-primary), var(--font-fallback);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: var(--background);
   color: var(--primary-color);
}

ul {
   list-style: none;
}

li {
   padding: 0.25rem;
}

h1,
h2,
h3,
h4 {
   color: var(--text-color);
}

a {
   color: var(--secondary-color);
   text-decoration: none;
}

a:hover {
   color: var(--hover-color);
}

p {
   margin: 0.5rem 0;
}

img {
   width: 100%;
   display: block;
}

hr {
   width: 75%;
}

input,
textarea {
   width: 100%;
   background: var(--global-dark);
   color: var(--primary-color);
   border: var(--primary-color) var(--border-size) solid;
   border-radius: var(--box-rounding);
   padding: var(--spacing-half) var(--spacing-half);
   margin: var(--spacing-half) var(--spacing-half);
}
